<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/auth/google">Log In</a>
    </nav>
      <h1>Welcome to share</h1>
      <p>A platform to share your thoughts.</p>
  </body>
</html>
