/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,800&display=swap'); */

body {
  margin: 0;
  background-color: #081519;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

/* a {
  text-decoration: none;
} */

#logo {
  color: black;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}

/* nav {
  background-color: red;
  margin: 17px 100px;
  display: flex;
} */

.bg-light {
  background-color: #081519 !important;
}

.btn {
  font-size: .8rem;
  box-shadow: none !important
}

/* .dropdown-menu[data-bs-popper] {
  left: -124px;
} */

#dropdownMenuLink>img {
  border-radius: 50%;
  height: 25px;
}

.nav-avatar {
  margin-right: 30px;
}

.dropdown-toggle {
  border-radius: 25px;
  padding: 3px;
}

.dropdown-toggle::after {
  margin-bottom: -3px;
  margin-right: 10px;
  color: #081519;
}

ul.dropdown-menu.show {
  background-color: #081519;
  text-align: right;
  min-width: 0;
  border: none;
  margin-left: 10px;
}

a.dropdown-item {
  color: #fff;
  font-size: 12px;
}

a.dropdown-item:hover {
  background-color: transparent;
  color: rgb(255, 255, 255, .75);
}

/* .btn:active {
  border: 0;
} */


/* .btn.btn-secondary:active {
  outline: none;
  box-shadow: none;
  margin-top: 9px;
} */

/* .btn.dropdown-toggle {
  color: #fff;
} */

#title {
  font-size: 20px;
  display: flex;
}

/* .btn.btn-outline-primary {
  padding: 30px;
} */

#share-btn {
  padding-left: 10px;
  width: 170px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#hero {
  text-align: center;
  padding-top: 40vh;
}

/* #hero>h1 {
  font-size: 40px;
} */

h1 {
  color: #fff
}

p {
  color: #fff;
}

#hero>p {
  padding-top: 30vh;
}

#logout {
  text-decoration: none;
  color: #fff;
}

#share-btn {
  margin-bottom: 10px;
}

#avatar {
  border-radius: 50%;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.card {
  background-color: #182025;
  margin-bottom: 14px;
}


.col-4 {
  display: flex;
  justify-content: right;
  margin-left: 18vw;
}

.edit {
  margin-top: 13px;
}

.card-title {
  color: #fff;
}

.user-login {
  padding: 80px 100px;
}