<%- include('../partials/header') %> 

<% if (user && user._id.equals(thought.user)) { %>
    <div class="container">
        <form action="/feed/thoughts/<%= thought._id %>?_method=PUT" method="POST">
        <input type="text" value="<% thought.content %>" name="content">
        <input type="submit" value="edit">
        </form>
    </div>
<% } %>

<%- include('../partials/footer') %> 