<%- include('../partials/header') %> 

<section>
    <a href="/feed/thoughts/new">Share A Thought</a>
    <div>
        <% thought.forEach(t => { %>
            <div><%= t.content %> </div>
            <div><%= t.userName %> </div>
        <% }) %> 
    </div>
</section>



<%- include('../partials/footer') %> 