<%- include('../partials/header') %> 

<p>test</p>

<div><img src=" <%= thought.avatar %>  " alt="avatar">
    <div><%= thought.userName %> </div>
    <% if (user) { %>
        <form action="/"></form>
    <% } %>
</div>

<%- include('../partials/footer') %> 